{% extends 'base.html' %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% block main %}
<div>
    <h1>Shopping Cart</h1>
    <h2>Total price: ${{ price }}</h2>
    <div>
        {% if not cart %}
            <p class="low-opacity-text">Cart is empty</p>
        {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
    {% for item in cart %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          <button class="btn btn-light" onclick="window.location.href='{% url 'increase_quantity' item.id %}'">
              <form method="post" action="{% url 'increase_quantity' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="+">
                </form>
          </button>
        </td>
        <td>
          <button class="btn btn-light" onclick="window.location.href='{% url 'decrease_quantity' item.id %}'">
              <form method="post" action="{% url 'remove_from_cart' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="-">
                </form>
          </button>
        </td>
          <td>
          <button class="btn btn-danger" onclick="window.location.href='{% url 'remove_from_cart' item.id %}'">Delete</button>
        </td>
      </tr>
    {% endfor %}
    {% endif %}
  </tbody>
            </table>
        </div>
    {% if cart %}
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
    {% endif %}
    </div>
{% endblock %}