img {
         width: 200px;
         height: 120px;
         }

.example-div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.low-opacity-text {
    opacity: 0.5; /* Set the opacity value between 0 (fully transparent) and 1 (fully opaque) */
}


    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}



